/* 
font-family: 'Shadows Into Light', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Thasadith', sans-serif;
 */

#background {
    background-image: url(https://cdn10.bigcommerce.com/s-9qugz4w/products/663/images/16679/AB1941__47076.1431116834.1280.1280.jpg?c=2);
/* background-image: linear-gradient(#fff, rgb(224, 224, 224), #999, black); */

}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    width: 100%;
}


p {
    font-size: 20px;
    font-family: 'Thasadith', sans-serif;
}

.target-eb {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}

.crystals {
     align-content: center;
}

.seethrough-eb {
    /* border: 3px solid gray; */
    background: #ffffff99;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}

.image-eb {
    width: 200px;
}

.wins-eb {
    color: green;
}

.losses-eb {
    color: red;
}

.ending-eb {
    font-family: 'Shadows Into Light', cursive;
    font-size: 14px;
    width: 100%;
}

